* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;

    
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 90px 0 20%;
}
 h1 {
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 50px;
    width: 340px;
 }


 .i-input input {
    width: 340px;
    font-weight: 400;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.712);
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 5px;
    padding-left: 34px;
    text-align: left;
    margin-bottom: 50px;
    font-size: 17px;
    transition-property: background-color;
    transition-duration: 0.8s;
}
.btn {
    color: #C0C0C0
}

.i-input input:hover {
    background-color: transparent;
}

input:focus{
    outline: 0;
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #C0C0C0;
}

.Newpass {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 4px;
    width: 340px;
}

button {
    width: 160px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 22px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.67);
    margin-bottom: 50px;
    transition-property:  color, background-color, border, box-shadow;
    transition-duration: 450ms ;
}


button:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.336);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 27px 8px rgba(255, 255, 255, 0.25);
}

.cadastre-se {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    width: 350px;
    margin: 4px;
}

a {
    color: white;
    text-decoration: none;
}

